html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: rgba(51,51,51,0.84);


}
.container body {
  padding-bottom:70px;
}

.navbar {
  background-color: #cce3de;
  padding: 1% 24px;
  font-size: 1.224em;
}

.nav-link  {
  color: #6b9080 !important;
}
.nav-link:hover {
  color: #F6FFF8 !important;
}
.navbar-toggler {
  background-color: #F1FAEE;
  color: #E63946;
}

#home {
  background: url(/static/img/lander2.jpg) no-repeat center center fixed;
  display: table;
  height: 100% !important;
  width: 100% !important;
  position: relative;
  background-size: cover;
  box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.4);
}

.landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #f6fff8!important;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.alert-info {
  background-color: #cce3de;
  color: #6B9080!important;
}

#book-image{
  border-radius: 15px;


}


.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.btn-primary {
  border-radius: 20px !important;
  background-color: #cce3de;
  color: #6B9080!important;
  border-color: #A4C3B2;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
  font-weight: 460;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #F6FFF8;
  border-color: #A4C3B2;
  border-width: .1rem;
}

.btn-secondary {
  border-width: .1rem;
  border-radius: 20px !important;
  background-color: transparent!important;
  color: #6B9080!important;
  font-weight: 460;
  border-color: #A4C3B2;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #cce3de!important;
  border-color: #A4C3B2;
  border-width: .1rem;
}

.btn-warning {
  border-radius: 10px !important;
  background-color: #ffc0a5;
  color: #ff7f50 !important;
  border-color: transparent!important;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  font-weight: 460;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #ffd5c2;
  border-color: #ff7f50;
  border-width: .1rem;
}


.padding {
  padding: 80px 10px;
}

.padding img {
  width: 100%
}

#fiximg {
  background: url(/static/img/lander1.jpg) no-repeat center center fixed;
  filter: grayscale(40%);
  display: table;
  height: 40% !important;
  width: 100% !important;
  position: relative;
  background-size: cover;
  box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.4);
}

.card {
  padding: 0px;
  margin-right: 10px;
  border-radius: 20px;
  border-width: 0px;
  border-color: transparent;
  box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  height: 100%;
  width: 100%;

}

.card2 {
  padding: 0px;
  margin-right: 10px;
  border-radius: 20px;
  border-width: 0px;
  border-color: transparent;
  box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  height: auto;
  width: 100%;

}
.card-header {
  background-color: #F6FFF8;
  color: #6B9080;
  border-radius: 20px;
}

#about {
  background-color: #F6FFF8 !important;
}
#about h1 {
  background-color: #F6FFF8 !important;
  font-size: 380%;
  font-weight: 500;

}

.numberfont {
  font-family: 'Monofett', cursive;
  color: #6b9080;

}

.footer {
  background-color: #cce3de!important;
  color: #6b9080;
}
.footer a {
  color: #A4C3B2;
}
.footer h3 {
  color: #6b9080;
}
#footer-logo {
  width: 100%;
  height: auto;
  float: inherit;
}
/* { border: 1px solid black; }
